@model IEnumerable<myapp.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Carrito.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/Tablas.css" asp-append-version="true" />
<h1>Administración de Productos</h1>

<p>
    <a asp-action="Create" class="create">Create New</a>
</p>
<div class="table-container">
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th>
                Precio
            </th>
            <th>
                Tipo
            </th>
            <th>
                Descuento
            </th>
            <th>
                Categoría
            </th>
            <th>
                Precio final
            </th>
            
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="element">
            <td>
                @Html.DisplayFor(modelItem => item.prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td class="element">
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.categ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prec_final)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="control">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="control">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="control">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
